* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

a:visited {
    color: rgb(255, 255, 255);
}

a {
    color: black;
    text-decoration: none;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(0deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

article {
    animation: transitionIn 0.5s;
}
.container {
    animation: transitionIn 1s;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding: 20px 20px;
    max-width: 960px;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
}
.header_img {
    text-align: center;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.cabecera_descripcion {
    font-size: 14px;
}
.header_titulo {
    display: flex;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    font-size: 16px;
    font-weight: 600;

    border-top: dotted 1px grey;
    border-bottom: dotted 1px grey;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #fff;
}




.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-bottom: dotted 1px grey;
}

.burger_titulo {
    padding: 15px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(104, 8, 8);
}
.burger_contenedor__imagen {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 170px;
}
.burger_imagen {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    object-position: center;
    object-fit: cover;
}

.burger_descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    width: 100%;
    color: rgb(41, 41, 41);
    font-weight: 700;
    padding-top: 10px;
}

.burger_precios {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 14px;
    color: rgb(41, 41, 41);
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-bottom: auto;
    background: rgb(122, 122, 122);
    width: 100%;
    height: 100px;
}

.btn_whatsapp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #46c756;
    columns: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(red, green, blue, 0.3);
    z-index: 100;
}

.btn_whatsapp:hover {
    text-decoration: none;
    color: #46c756;
    background: #fff;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 10px 0 10px 0px;
}
.creditos {
    padding: 5px 0 5px;
    font-size: 14px;
    color: white;
    width: 100%;
    background: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    align-items: center;
}
